{% extends "layouts/base.njk" %}

{% block content %}
<div class="music-collection my-s-m wrapper">
  {% if not item %}
  <h1 class="visually-hidden">{{ title }}</h1>
  {% endif %}
  <div class="sidebar">
    <div class="music-collection__docked">
      <ul role="list" class="text-base flow">
        {% for item in musicNavigation.items %}
        <li>
          <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
            >{{ item.text }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    <div>
      {% if item %}
      <div class="sidebar mt-s">
        <div>
          <img src="{{ item.cover }}" alt="{{ item.name }} cover" /> 
        </div>
        <div class="flow">
          <h1>{{ item.name }}</h1>
          <div class="flow flow-space-m-l">
            <dl>
              <dt>Artist</dt>
              <dd>{{ item.artist }}</dd>
              <dt>Formats</dt>
              <dd>
                <ul role="list" class="cluster m-[0] gutter-xs">
                {% for format in item.formats %}
                  <li>
                    <a href="/music-collection/{{ format | slug }}">{{ format }}</a>
                  </li>
                {% endfor %}
                </ul>
              </dd>
              {% if item.lastFMTags %}
                <dt>Top Last.FM tags</dt>
                <dd>
                    <ul role="list" class="cluster m-[0] gutter-xs">
                      {% for tag in item.lastFMTags %}
                        <li>
                          <a href="{{ tag.url }}">{{ tag.name }}</a> 
                        </li>
                      {% endfor %}
                    </ul>
                </dd>
              {% endif %}
            </dl>
            <p>
              <a href="https://openscrobbler.com/scrobble/album/view/{{ item.artist | urlEncodeFilter }}/{{ item.name | urlEncodeFilter }}">Scrobble this album</a>
            </p>
            {% if item.tracks %}
            <div class="prose flow">
              <h2>Tracks</h2>
              <ol>
                {% for track in item.tracks %}
                <li>
                  {{ track.name }}
                </li>
                {% endfor %}
              </ol>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <hr />
      <h2>Random items from the collection</h2>
      {% endif %}
      <ul class="grid" role="list">
      {% for item in items %}
        <li>
          <a href="/music-collection/{{ item.name | sanitizeNameFilter | slug }}/" class="flow flow-space-2xs">
            <img src="{{ item.cover }}" alt="Cover for {{ item.name }}" loading="lazy" />
            <p><strong>{{ item.name }}</strong></p>
            <p class="text-step-0">{{ item.artist }}</p>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}