{% extends "layouts/base.njk" %}

{% block content %}
<div class="music-collection my-s-m wrapper">
  {% if not item %}
  <h1 class="visually-hidden">{{ title }}</h1>
  {% endif %}
  <div class="sidebar">
    <div class="music-collection__docked">
      <ul role="list" class="text-base flow">
        {% for item in musicNavigation.items %}
        <li>
          <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
            >{{ item.text }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    <div>
      {% if item %}
      <div class="sidebar mt-s">
        <div>
          <img src="/images/music-collection/{{ item.data.cover }}" alt="{{ item.data.title }} cover" />
        </div>
        <div class="flow">
          <h1>{{ item.data.title }}</h1>
          <div class="flow flow-space-m-l">
            <dl>
              <dt>Artist</dt>
              <dd>{{ item.data.artist }}</dd>
              <dt>Formats</dt>
              <dd>
                <ul role="list" class="cluster m-[0] gutter-xs">
                {% for format in item.data.formats %}
                  <li>
                    <a href="/music-collection/{{ format | slug }}">{{ format }}</a>
                  </li>
                {% endfor %}
                </ul>
              </dd>
            </dl>
            <p>
              <a href="https://openscrobbler.com/scrobble/album/view/{{ item.data.artist | urlEncodeFilter }}/{{ item.data.title | urlEncodeFilter }}">Scrobble this album</a>
            </p>
          </div>
        </div>
      </div>
      <hr />
      <h2>Random items from the collection</h2>
      {% endif %}
      <ul class="grid" role="list">
      {% for item in items %}
        <li>
          <a href="/music-collection/{{ item.fileSlug }}/" class="flow flow-space-2xs">
            <img src="/images/music-collection/{{ item.data.cover }}" alt="Cover for {{ item.data.title }}" loading="lazy" />
            <p><strong>{{ item.data.title }}</strong></p>
            <p class="text-step-0">{{ item.data.artist }}</p>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
