@font-face {
  font-family: 'iA Writer Mono S';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/src/fonts/iAWriterMonoS-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'iA Writer Mono S';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/src/fonts/iAWriterMonoS-Bold.woff2') format('woff2');
}
