{% if lastfm.recentTracks %}
  {% set track = lastfm.recentTracks[0] %}
  <p class="max-w-[40ch]"><strong>Latest track from <a href="https://last.fm/user/andyvirus">Last.FM</a>:</strong> <a href="{{ track.url }}">{{ track.name }}, by {{ track.artist['#text'] }}, from {{ track.album['#text'] }}</a></p>
{% endif %}