{# Only renders this section if there are links to render #}
{% if pagination.href.next or pagination.href.previous %}
<hr />
<nav class="repel" aria-label="Pagination links">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}{{ paginationAnchor }}">
      <span>{{ paginationPrevText if paginationPrevText else 'Previous' }}</span>
    </a>
  {% else %}
    {# render a no break space so repel can do its thing #}
    &nbsp; 
  {% endif %}
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}{{ paginationAnchor }}">
      <span>{{ paginationNextText if paginationNextText else 'Next' }}</span>
    </a>
  {% endif %}
</nav>
{% endif %}
