{% if postListHeadline %}
  <h2>
    {{ postListHeadline }}
  </h2>
{% endif %}
<div>
  <ul class="flow" role="list">
    {% for post in postListItems %}
      <li>
        <a href="/{{ post.slug }}">{{ post.title.rendered | safe }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
