<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="site-header">
	<div class="wrapper repel">
		<a class="site-header__brand" href="/" aria-label="Andy Bell">
			<svg viewBox="0 0 40 35" width="1em" height="1em" fill="currentColor">
	 			<path class="icon__primary" d="M20 .528L0 34.973h12.392L20 21.87l7.608 13.103H40L20 .528"></path> 
	 		</svg>
		</a>
		<nav aria-label="primary">
			<ul role="list" class="cluster text-base">
        {% for item in navigation.items %}
        <li>
          <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
            >{{ item.text }}</a
          >
        </li>
        {% endfor %}
			</ul>
		</nav>
	</div>
</header>
