<footer role="contentinfo" class="wrapper repel text-step-0 pt-s pb-m items-end">
	{% include "partials/latest-track.njk" %}
	<div class="flow">
		<nav aria-label="secondary navigation">
			<ul role="list" class="cluster text-step-0">
				<li>
					<a href="/feed.xml">RSS Feed</a>
				</li>
				<li>
					<a href="/uses">My Setup</a>
				</li>
				<li>
					<a href="//set.studio" rel="external">Set Studio</a>
				</li>
				<li>
					<a href="https://github.com/Andy-set-studio/personal-site-eleventy" rel="external">View Source</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>